
SoftUni/SoftUni/Configurations/SoftUniDBConfug.cs
Entity Relations/P01_StudentSystem/P01_StudentSystem/Configurations/Config.cs
Entity Relations/P02_FootballBetting/P02_FootballBetting.Data/Configurations/ConfigDb.cs
LINQ/MusicHub/MusicHub/Data/Configurations/Config.cs
Advanced Querying/BookShop.Data/Configuration.cs
Auto Mapping Objects/FastFood.Core/appsettings.json
JSON Processing/ProductShop/ProductShop/Data/Configuration.cs
JSON Processing/CarDealer/CarDealer/Data/Configuration.cs
JSON Processing/CarDealer/CarDealer/Data/Configuration.cs
JSON Processing/CarDealer/CarDealer/Data/Configuration.cs
CodeFIrst/P01_HospitalDatabase/Data/Config.cs
CodeFIrst/P03_SalesDatabase/Data/Config.cs
Exam Preparation/06 August 2022/Footballers/Data/Configuration.cs
Exam Preparation/16 Dec 2021/Artillery/Data/Configuration.cs
Exam Preparation/04 Dec 2021/Theatre/Data/Configuration.cs
Exam Preparation/04 April 2021/TeisterMask/Data/Configuration.cs
Exam Preparation/08 August 2020/VaporStore/Data/Configuration.cs
Exam Preparation/14 August 2020/SoftJail/Data/Configuration.cs
Exam Preparation/15 August 2022/Trucks/Data/Configuration.cs
Exam/Boardgames/Data/Configuration.cs
