
SoftUni/SoftUni/Configurations/SoftUniDBConfug.cs
Entity Relations/P01_StudentSystem/P01_StudentSystem/Configurations/Config.cs
Entity Relations/P02_FootballBetting/P02_FootballBetting.Data/Configurations/ConfigDb.cs
LINQ/MusicHub/MusicHub/Data/Configurations/Config.cs
Advanced Querying/BookShop.Data/Configuration.cs
Auto Mapping Objects/FastFood.Core/appsettings.json
JSON Processing/ProductShop/ProductShop/Data/Configuration.cs
JSON Processing/CarDealer/CarDealer/Data/Configuration.cs
JSON Processing/CarDealer/CarDealer/Data/Configuration.cs
JSON Processing/CarDealer/CarDealer/Data/Configuration.cs
